.App {
  text-align: center;
}

.btn{
  background-color: blue;
  color: white;
  padding: 15px 15px;
  border: hidden;
  cursor: pointer;
  border-radius: 30px;
  font-size: 15px;
  font-weight: bold;
}
.hide_btn{
  background-color: red;
  padding: 10px 10px;
  margin-top: 15px;
}
.add_btn{
  background-color: green;
  color: white;
  padding: 10px 10px;
  margin: 15px;
}

.charts {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

.chart {
  border: 1px solid #ccc;
  padding: 20px;
  width: 300px;
}
.show{
  width: 100%;
  height: 300px;
}
